@import url('https://fonts.googleapis.com/css?family=Mukta');
/* Bootstrap Styles */
.nav-link{
	font-weight: 700;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #333333;
}

@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: 1.5rem;
	    padding-top: 1.5rem;
	    padding-bottom: 1.5rem;
	}
}

.btn{
	border-radius: 20px;
	padding: 5px 20px 5px 20px;
	color: #4456DF;
	font-weight: 600;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
	transition: all 0.5s ease;
  	transform: scale(1);
}


.btn:hover {
/*  Making button bigger on hover  */
	transform: scale(0.94) perspective(1px)
}

/* Global Styles */
html {
	scroll-behavior: smooth;
	overflow: none;
	position: relative;
	min-height: 100%;
}

body{
	font-family: 'Mukta', sans-serif;
	color: #333333;
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px; /* Set the fixed height of the footer here */
	background-color: #4456DF;
	color: #fff;
	font-size: 12px;
}

@media (max-width: 767px){
	.footer {
		text-align: center !important;
	}
}

.delay-0-3s{
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.delay-0-6s{
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.active-line{
	margin-top: -15px;
    margin-bottom: 0px;
    border-bottom: 6px solid #4456DF;
    width: 50%;
}

@media (max-width: 991px){
	.active-line{
		display: none;
	}

	.navbar-collapse{
		background-color: #eaeaea;
		margin-left: -16px;
	    margin-right: -16px;
	    margin-top: 10px;
	}

	.navbar-light .navbar-toggler-icon {
    	margin-left:-2px;
    	font-size: 1rem;
	}

	.navbar-toggler {
	    border-radius: 50%;
    	height: 45px;
    	width: 45px;
	} 

	.navbar-toggler:focus {
		outline:none !important
	}
}

.bg-grey{
	background-color: #eaeaea !important;
}

.bg-white{
	background-color: #ffffff !important;
}

.text-grey{
	color: #808080;
}

.delay-1{
	transition-delay: .3s;
}

.delay-2{
	transition-delay: .6s;
}

.delay-3{
	transition-delay: .9s;
}

@media (max-width: 991px){
	.delay-1{
	transition-delay: .3s;
	}

	.delay-2{
		transition-delay: .3s;
	}

	.delay-3{
		transition-delay: .3s;
	}
}

.card-title{
	font-size: 16px;
	font-weight: 700;
}

.card-sub-title{
	font-weight: 600;
	color: #787878;
}

.btn-circle{
    padding: 0px;
    width: 34px;
    height: 32px;
    font-size: 16px;
}

.img-container {
 	position: relative;
 	background-color: #3a3a3a;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.middle span{
	opacity: 1; 
	color: #fff;
	display: block;
	font-size: 0.9rem;
}

.img-container:hover .image {
 	opacity: 0.3;
}

.img-container:hover .middle {
 	opacity: 1;
}

.title{
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.8px;
}

.sub-title{
	font-weight: 600;
	color: #7E7E7E;
	letter-spacing: 0.8px;
}

.border-right-grey{
	border-right: 1px solid #eaeaea;
}

.modal-content{
	background-color: transparent;
	border: none;
}

.modal-footer{
	border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.modal-label{
	font-weight: 600;
	letter-spacing: 0.4px;
}

.phone-image {
	width: 30%;
	height: 30%;
	border: 1px solid #eaeaea;
}

.website-image {
	width: 90%;
	height: 90%;
	border: 1px solid #eaeaea;
}

@media (max-width: 991px){
	.phone-image {
		width: 80%;
		height: 80%;
	}

	.website-image {
		width: 100%;
		height: 100%;
	}
}

.rounded-right{
	border-radius: 0px 50px 50px 0px !important;
}

.rounded-left{
	border-radius: 50px 0px 0px 50px !important;
}

.rounded-top{
	border-radius: 50px 50px 0px 0px !important;
}

@media (max-width: 991px){
	.rounded-top-sm{
		border-radius: 20px 20px 0px 0px !important;
	}
}

.rounded-bottom{
	border-radius: 0px 0px 20px 20px !important;
}

@media (max-width: 991px){
	.rounded-bottom-sm{
		border-radius: 0px 0px 20px 20px !important;
	}
}

@media (min-width: 1200px){
	.modal-desc{
		margin-top: 35px;
	}
}

.close{
	background-color: #868686 !important;
	font-weight: 300;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    color: #fff;
}

.close:focus{
	outline: none !important;
}

.close:hover{
	color: #fff;
}

.close-sm{
	position: inherit;
    	right: 10px;
    	top: 40px;
}

@media (min-width: 991px){
	.close-sm{
		display: none;
	}
}

@media (max-width: 991px){
	.close-lg{
		display: none;
	}
}

